[Unit]
Description=Listen to interupt 
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/iotchip/bin/interupt.py
Restart=on-failure
 
[Install]
WantedBy=multi-user.target
